body#page-give-classes {
    #container {
        width: 100vw;
        height: 100vh;
    }
    main {
        background: $color-box-base;
        max-width: 74rem;
        border-radius: 0.8rem;
        margin: -3.2rem auto 3.2rem;
        /* padding-left: 6.4rem; */
    }
    fieldset {
        border: none;
        padding: 0 2.4rem;
    }
    .input-block + .input-block,
    .input-block + .textarea-block {
        margin-top: 2.4rem;
    }
    fieldset + fieldset {
        margin-top: 6.4rem;
    }
    legend {
        font: 700 2.4rem Archivo;
        color: $color-text-title;
        margin-bottom: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 1.6rem;
        border-bottom: 1.6rem;
        border-bottom: 1px solid $color-line-in-white;
        padding-top: 3rem;

    }
    button {
        background: none;
        border: 0;
        color: $color-primary;
        font: 700 1.6rem Archivo;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            color: $color-primary-dark;
        }
    }
    footer {
        padding: 4rem 2.4rem;
        background: $color-box-footer;
        border-top: 1px solid $color-line-in-white;
        margin-top: 6.4rem;
        p {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            line-height: 2.4rem;
            color: $color-text-complement;
        }
        img {
            margin-right: 2rem;
        }
        button {
            width: 100%;
            height: 5.6rem;
            background: $color-secondary;
            color: $color-button-text;
            border: 0;
            border-radius: 0.8rem;
            cursor: pointer;
            font: 700 1.6rem Archivo;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            transition: 0.2s;
            margin-top: 3.2rem;
            &:hover {
                background: $color-secondary-dark;
                color: $color-button-text;
            }
        }
    }
    .schedule-item + .schedule-item {
        margin-top: 3.32rem;
        border-top: 1px solid $color-line-in-white;
        padding-top: 3.2rem;
    }
}
@media (min-width: 700px) {
    #page-give-classes #container {
        max-width: 100vw;
        header {
            height: 340px;
            .top-bar-container {
                max-width: 1100px;
            }
            .header-content {
                max-width: 740px;
                margin: 0 auto;
                flex: 1 1;
                padding-bottom: 48px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                strong {
                    max-width: 350px;
                }
            }
        }
        main,
        fieldset {
            padding: 0 64px;
        }
        .schedule-item {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            column-gap: 1.6rem;
        }
        #schedule-items .select-block + .input-block,
        #schedule-items .input-block + .input-block {
            margin-top: 0;
        }
         footer{
            
            padding: 40px 64px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            button{
                width:200px;
            }
        }
    }
}
