.page-header {
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
}
.header-content {
    width: 90%;
    margin: 3.2rem auto;
    position: relative;
    strong {
        font: 700 3.6rem Archivo;
        color: $color-title-in-primary;
        line-height: 4.2rem;
    }
    p{
        max-width: 30rem;
        font-size: 1.6rem;
        line-height: 2.6rem;
        color: $color-text-in-primary;
        margin-top: 2.4rem;
    }
}
.top-bar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 0;
    a {
        height: 3.2rem;
        transition: opacity 0.2s;
        &:hover {
            opacity: 0.6;
        }
    }
    &>img {
        height: 1.6rem;
    }
}

@media (min-width: 700px) {
    #page-study #container {
        max-width: 100vw;
        .page-header {
            height: 340px;
            .top-bar-container {
                max-width: 1100px;
            }
            .header-content {
                max-width: 740px;
                margin: 0 auto;
                flex: 1 1;
                padding-bottom: 48px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                strong {
                    max-width: 350px;
                }
            }
        }
        
    }
   
}