

body#page-landing {
    background: $color-primary;
    #container {
        color: $color-text-in-primary;
        .logo-container img {
            height: 10rem;
        }
        .logo-container {
            text-align: center;
            margin-bottom: 3.2rem;
            h2 {
                font-weight: 500;
                font-size: 3.6rem;
                line-height: 4.6rem;
                margin: 0.8rem 0;
            }
        }
        .hero-image {
            width: 100%;
        }
        .buttons-container {
            display: flex;
            justify-content: center;
            margin: 3.2rem 0;
            a {
                width: 30rem;
                height: 10.4rem;
                border-radius: 0.8rem;
                margin-right: 1.6rem;
                font: 700 2.4rem Archivo;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: $color-button-text;
                transition: background 0.2s;
                img {
                    width: 4rem;
                    margin-right: 2.4rem;
                }
            }
            .study {
                background: $color-primary-lighter;
                &:hover {
                    background: $color-primary-light;
                }
            }
            .give-classes {
                background: $color-secondary;
                margin-right: 0;
                &:hover {
                    background: $color-secondary-dark;
                }
            }
        }
        .total-connections {
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                margin-left: 0.8rem;
            }
        }
    }
}
@media(max-widht:699px){
    :root{
        font-size: 40%;
    }
}
@media (min-width: 1100px) {
    body#page-landing #container {
        max-width: 1100px;
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 350px 1fr;
        grid-template-areas: "proffy image image" "button button texting";
        column-gap: 87px;
        row-gap:86px;
        .logo-container {
            grid-area: proffy;
            text-align: initial;
            align-self: center;
            margin: 0;
            img {
                height: 127px;
            }
        }
        .buttons-container{
            grid-area: button;
            justify-content: flex-start;
            margin: 0;
        }
        .hero-image {
            grid-area: image;
            height: 350px;
        }
        .total-connections {
            grid-area: texting;
            justify-self: end;
            font-size: 1.2rem;
        }
    }
}
